@import "./bootstrap/scss/bootstrap.scss";

// global
html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: white;
}

.hamburger-inner--dark, .hamburger-inner--dark:after, .hamburger-inner--dark:before {
    background-color: #323E48;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .container--padding {
        padding: 0;
    }
}

@import "./partials/header";
@import "./partials/content";
@import "./partials/newsletter";
@import "./partials/footer";
@import "./partials/article-header";
@import "./partials/shop-header";
@import "./partials/product";
@import "./partials/shop-article";
@import "./partials/prod-footer";
@import "./partials/product-template";
@import "./partials/prod-header";
@import "./partials/article-header";
@import "./partials/article-main";
@import "./partials/suggested-products";