.art-main__article {
    padding: 18px 6px;
    color: #39494C;
    margin-bottom: 30px;
}

.art-main__article__logo-img {
    width: 75px;
}

.art-main__article__heading {
    font-size: 39px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 16px;
    letter-spacing: -2px;
}

.art-main__article__italic {
    display: block;
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
    color: #767E85;
    line-height: 27px;
    margin-bottom: 16px;
}

.art-main__article__strong {
    font-size: 15px;
    font-weight: 800;
    line-height: 21px;
}

.grid--triple,
.grid--double {
    margin: 30px 0;
    color: #39494C;
}

.grid--triple__child__heading,
.grid--double__child__heading,
.grid--with-icons__heading {
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -2px;
}

.grid--with-icons__heading {
    text-align: center;
}

.grid--triple__child__text,
.grid--double__child__text,
.grid--with-icons__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.grid--with-icons__text {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}

.grid--with-icons__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 8px;
    display: block;
}

.grid--with-icons {
    max-width: 330px;
    margin: 0 auto;
}

.share {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 768px) {
    .art-main {
         margin-top: 340px;
    }

    .grid--triple {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .grid--double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .grid--2-times-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 35px;
    }

    .share {
        margin-top: 30px;
    }
}