.art-header__nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.art-header__nav__box__radio-input {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 24px;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
}

.art-header__nav__box__img {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 24px;
    z-index: 15;
}

.art-header__nav__box__ul {
    display: block;
    background: rgba($color: white, $alpha: .64);
    list-style-type: none;
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 20px 10px;
    position: absolute;
    top: -500px;
    left: 0;
    transition: all .4s ease;

    li {
        margin-bottom: 6px;

        a, a:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.art-header__nav__box__radio-input:checked ~ .art-header__nav__box__ul {
    top: 0;
}

.art-header__nav__box__radio-input:checked ~ .art-header__nav__box__img {
    .hamburger-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(225deg);
        background-color: black;
    }

    .hamburger-inner:before {
        top: 0;
        transition: top .1s ease-out, opacity .1s ease-out .12s, background-color .1s;
        opacity:0;
        background-color: black;
    }

    .hamburger-inner:after {
        bottom: 0;
        transition: bottom .1s ease-out, transform .22s cubic-bezier(.215,.61,.355,1) .12s, background-color .1s;
        transform: rotate(-90deg);
        background-color: black;
    }
}

.article-header {
    width: 100%;
    height: 210px;
    position: relative;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.article-header__logo {
    position: absolute;
    width: 90px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 10;
}

.article-header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

@media (min-width: 768px) {
    .article-header {
        width: 100%;
        height: 320px;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .article-header__heading {
        font-size: 96px;
        word-spacing: 300px;
    }

    .article-header__logo {
        width: 208px;
        left: -50px;
    }

    .art-header__nav__box__radio-input {
        top: 20px;
        right: 20px;
    }

    .art-header__nav__box__img {
        top: 20px;
        right: 20px;
    }
}