.home-main {
    width: 100%;
    box-shadow: 0px 0px 18px 0 rgba($color: #000000, $alpha: .18);
    margin: 18px 0;
}

.home-main__link,
.home-main__link:hover {
    text-decoration: none;
}

.content-box {
    width: 100%;
    position: relative;
    padding: 12px 8px 0 8px;
    color: black;
    text-decoration: none;
    height: 240px;

    .content-box__headings--white {
        color: white;
    }

    .content-box__headings {
        justify-content: space-around;

        .content-box__headings__logo {
            width: 100px;
        }

        .content-box__headings__info {
            .content-box__headings__info__icon {
                width: 24px;
                height: 20px;
                margin: 0 auto;
                display: block;
            }

            .content-box__headings__info__text {
                text-transform: uppercase;
                text-align: center;
                font-weight: 800;
                font-size: 20px;

                span {
                    font-size: 18px;
                    line-height: 18px;
                    display: block;
                }
            }
        }
    }

    .content-box__bg--hero {
        background-image: url("../img/hero.png");
        background-position: center;
        background-size: cover;
        height: 140px;
        transition: 5s all;
    }
}

.content-box--slider,
.content-box--grid {
    .content-box__headings {
        margin: 36px 0 0 36px;

        .content-box__headings__logo {
            width: 75px;
        }

        .content-box__headings__heading {
            font-weight: 800;
            font-size: 36px;
            line-height: 34px;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .content-box__headings__text {
            font-size: 24px;
            font-weight: 600;
            font-style: italic;
        }
    }
}

.content-box--grid {
    .content-box__headings--center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .content-box__headings__heading {
            line-height: 34px;

            span {
                display: block;
            }

            .the-biggest {
                font-size: 56px;
            }

            .smaller {
                font-size: 27px;
            }

            .bigger {
                font-size: 46px;
            }

            .the-smallest {
                font-size: 21px;
            }
        }
    }
}

.content-box--slider {
    background-image: url("../img/slick-img.png");
    background-position: left;
    background-size: cover;

    .content-box__headings {
        color: #3F1E11;

        .content-box__headings__logo {
            .cls-2 {
                fill: #3F1E11;
            }
        }
    }
}

.slick-slider {
    position: relative;

    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        background: transparent;
        background-image: url("../img/arrow-icon.svg");
        width: 20px;
        height: 27px;
        border: none;
        outline: 0;
        z-index: 2;
    }

    .slick-prev {
        transform: rotate(180deg) translateY(50%);
        left: 8px;
    }

    .slick-next {
        transform: translateY(-50%);
        right: 8px;
    }
}

.content-box--grid {
    .content-box__bg {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.cls-2--black {
    fill: black;
}

.cls-2--white {
    fill: white;
}

@media (min-width: 768px) {
    .content-box {
        position: relative;
        height: 290px;
        padding: 0;

        .content-box__bg--hero {
            position: absolute;
            z-index: -1;
            height: 80%;
            width: 80%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .content-box__headings {
            height: 100%;
            margin: 0;
            justify-content: space-between;

            .content-box__headings__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 14px;

                .content-box__headings__info__icon {
                    width: 50px;
                    height: 42px;
                }

                .content-box__headings__info__text {
                    font-size: 30px;

                    span {
                        font-size: 26px;
                        line-height: 22px;
                    }
                }
            }

            .content-box__headings__logo--rot {
                transform: rotate(-90deg);
                width: 208px;
            }
        }
    }

    .slick-slider {
        .slick-prev {
            left: 16px;
        }

        .slick-next {
            right: 16px;
        }
    }

    .content-box--slider {
        background-position: center;

        .content-box__headings {
            padding-left: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .content-box__headings__heading {
                font-size: 45px;
                line-height: 36px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 290px 290px 290px;

        .content-box {
            height: auto;

            .content-box__headings {
                height: auto;
            }
        }

        .content-box__bg {
            z-index: 0;
        }

        .content-box--grid {
            height: 100%;

            .content-box__headings {
                .content-box__headings__heading {
                    font-size: 45px;
                    line-height: 38px;
                }
            }
        }

        .grid__elem--1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            position: relative;

            .content-box__headings {
                position: absolute;
                z-index: 1;
                left: 50px;
                top: 70px;
            }
        }

        .grid__elem--2 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: #4D9DB6;
            position: relative;

            .content-box__headings {
                position: absolute;
                z-index: 1;
                left: 50px;
                top: 70px;
            }
        }

        .grid__elem--3 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            position: relative;

            .content-box__headings {
                position: absolute;
                z-index: 1;
                left: 50px;
                top: 70px;
            }
        }

        .grid__elem--4 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            position: relative;

            .content-box__headings {
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .grid__elem--5 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            position: relative;

            .content-box__headings {
                position: absolute;
                z-index: 1;
                right: 80px;
                top: 70px;
            }
        }
    }
}

@media (min-width: 992px) {
    .content-box .content-box__headings .content-box__headings__info {
        margin-right: 90px;
    }
}

@media (min-width: 1200px) {
    .content-box .content-box__headings .content-box__headings__info {
        margin-right: 120px;
    }

    .content-box .content-box__bg--hero {
        width: 100%;
        height: 100%;
    }
}