footer {
    margin-top: 40px;
    border-top: 1px solid rgba($color: #4D4D4D, $alpha: .3);

    svg {
        margin-top: 14px;
        max-width: 144px;
        float: right;
        margin-bottom: 36px;
    }
}

@media (min-width: 320px) and (max-width: 539px) {
    footer {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}