.header {
    width: 100%;
    height: 72px;
    position: relative;
}

.header__nav {
    display: block;
    width: 100%;
    background: rgba($color: #fff, $alpha: 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 24px;
}

.header__nav__box {
    position: relative;
    padding-bottom: 24px;
}

.header__nav__box__radio-input {
    position: absolute;
    width: 65px;
    height: 65px;
    z-index: 15;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.header__nav__box__img {
    width: 40px;
    height: 24px;
    z-index: 15;
    position: relative;
    pointer-events: none;
}

.header__nav__box__ul {
    display: block;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 350px;
    background: rgba($color: #fff, $alpha: .95);
    top: -500px;
    transition: all .4s ease-out;
    z-index: 10;

    .menu-item {
        text-align: center;
        margin-bottom: 24px;

        .header__nav__box__ul__li__a {
            color: black;
            font-size: 20px;
        }

        .header__nav__box__ul__li__a--active {
            color: #0F89F4;
        }
    }
}

.header__nav__box__radio-input:checked ~ .header__nav__box__ul {
    top: 48px;
}

.header__nav__box__radio-input:checked ~ .header__nav__box__img {
    .hamburger-inner {
        transition-delay: .12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(225deg);
    }

    .hamburger-inner:before {
        top: 0;
        transition: top .1s ease-out, opacity .1s ease-out .12s;
        opacity:0;
    }

    .hamburger-inner:after {
        bottom: 0;
        transition: bottom .1s ease-out, transform .22s cubic-bezier(.215,.61,.355,1) .12s;
        transform: rotate(-90deg)
    }
}

.header__logo-container {
    background-image: url('../img/canopee-logo--mobile.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 320px;
    height: 350px;
    margin: 80px auto;
}

@media (min-width: 1200px) {
    .header__useful-links {
        position: fixed;
        top: 20px;
        right: calc((100vw - 1080px) / 2);
        z-index: 10;

        ul {
            display: flex;
            list-style-type: none;

            li {
                margin-right: 20px;

                a {
                    font-size: 17px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: #323E48;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}