.newsletter {
    width: 100%;
    box-shadow: 0px 0px 18px 0 rgba($color: #000000, $alpha: .18);
    margin: 28px 0;
    color: #323E48;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 6px 22px;
}

.newsletter__heading {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.newsletter__form {
    .newsletter__form__email {
        border: 4px solid rgba($color: #323E48, $alpha: .3);
        border-radius: 20px;
        font-size: 12px;
        padding: 6px 12px;
        outline: none;
        min-width: 210px;
    }

    .newsletter__form__submit {
        width: 13px;
        height: 18px;
        background: none;
        border: none;

        img {
            width: inherit;
            height: inherit;
        }
    }
}

.newsletter__follow-us,
.newsletter__follow-us:hover {
    border-top: 1px solid rgba($color: #4D4D4D, $alpha: .3);
    display: flex;
    margin-top: 12px;
    padding-top: 12px;
    color: #323E48;

    img {
        width: 28px;
        height: 28px;
    }

    h5 {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 800;
        letter-spacing: -2px;
        font-size: 22px;
        margin: 0 0 0 8px;
    }
}

@media (min-width: 768px) {
    .newsletter {
        flex-direction: row;
        padding: 0;
        height: 140px;
        justify-content: space-between;
    }

    .newsletter__heading {
        margin-left: 20px;
    }

    .newsletter__follow-us,
    .newsletter__follow-us:hover,
    .newsletter__follow-us:focus {
        border-top: none;
        border-left: 1px solid rgba($color: #4D4D4D, $alpha: .3);
        color: #323E48;
        width: 192px;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 42px;
            height: 42px;
        }

        h5 {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
    }
}

@media (min-width: 992px) {
    .newsletter__heading {
        margin-left: 40px;
    }

    .newsletter__form {
        .newsletter__form__email {
            font-size: 17px;
            border-radius: 50px;
            padding: 8px 50px;
            width: 410px;
        }

        .newsletter__form__submit {
            margin-left: 12px;
            cursor: pointer;
        }
    }
}

@media (min-width: 1200px) {
    .newsletter__heading {
        margin-left: 90px;
    }
}