.prod-footer--product-template {
    box-shadow: inset 0px 12px 12px 0px rgba(0,0,0,0.22);
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;

    .container {
        padding-top: 80px;
    }
}

.prod-footer__logos {
    width: 220px;

    img {
        max-width: 50px;
        max-height: 30px;
        margin: 0 6px;
        display: block;
    }
}

.prod-footer__first {
    margin-bottom: 40px;
}

.prod-footer__hr {
    border-color: #323E48;
}

.prod-footer__second {
    margin-top: 70px;
    justify-content: space-between;
}

.prod-footer__logo {
    width: 144px;
    height: 38px;

    svg {
        width: inherit;
        height: inherit;
    }
}

.prod-footer__follow-us {
    justify-content: center;
    align-items: center;

    h4 {
        font-weight: 700;
        font-size: 16px;
    }

    a {
        width: 40px;
        height: 40px;
        margin-left: 12px;

        img {
            width: inherit;
            height: inherit;
        }
    }
}

.prod-footer__main {
    margin-right: 100px;

    h3 {
        font-size: 29px;
        font-weight: 700;
        margin-bottom: 14px;
    }

    p, a, a:hover {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: black;
        margin: 0;
        line-height: 19px;
        display: block;
    }
}

.prod-footer__main:last-child {
    margin-right: 0;
}

.prod-footer__copyright {
    margin-top: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

@media (max-width: 992px) {
    .prod-footer__main {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .prod-footer__second {
        div {
            margin: 0 auto 30px;
        }
    }
}