// colors
$mango-kush: linear-gradient(90deg, #F68D1E 0%, #DA365D 100%);
$strawberry-diesel: linear-gradient(90deg, #DA365D 0%, #39494C 100%);
$watermelon-cookie: linear-gradient(90deg, #06683E 0%, #BF3431 100%);
$hawaiian-skunk: linear-gradient(90deg, #E8903E 0%, #DA375D 100%);
$og-kush: linear-gradient(90deg, #0094A3 0%, #1E252C 100%);
$black-domina: linear-gradient(90deg, #221F20 0%, #37414A 100%);

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__product {
    width: 280px;
    margin: 30px 0 70px;
}

.main__product__box {
    height: 320px;
    background: linear-gradient(90deg, rgba(46,135,114,1) 0%, rgba(232,145,61,1) 100%);
    padding: 12px;
    position: relative;
}

.main__product__box::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 90px;
    height: 22px;
    background: white;
    border-radius: 20px;
}

.main__product__box::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
}

.main__product__box__product-body {
    width: 100%;
    background: white;
    position: relative;
    padding: 20px;
}

.main__product__box__heading {
    margin: 80px 0 10px;
    text-align: center;
    font-size: 7px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

.free-shipping {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #007350;
    margin-top: 30px;
    margin-bottom: 100px;
}

.main__product__box__product-body__main-props {
    background: $mango-kush;
    width: 286px;
    height: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto 6px auto;
    align-items: center;
    justify-items: center;

    h5 {
        font-size: 10px;
        text-transform: uppercase;
        color: white;
        font-weight: 800;
        margin: 0;
    }

    .bord-left {
        padding-left: 12px;
        border-left: 3px solid white;
        height: 100%;
    }

    div {
        align-items: center;

        img {
            max-width: 12px;
            max-height: 16px;
        }

        p {
            font-style: italic;
            color: white;
            font-weight: 700;
            font-size: 8px;
            margin: 6px 0 6px 4px;
        }
    }
}

.main__product__box__product-body__leaf {
    width: 22px;
    height: 22px;
    margin: 6px 0 6px 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.main__product__box__product-body__hr {
    margin: 0;
}

.main__product__box__product-body__heading {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    margin: 8px 0;
    letter-spacing: -1px;
    background: linear-gradient(90deg, rgba(46,135,114,1) 0%, rgba(232,145,61,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.main__product__box__product-body__logo {
    background: linear-gradient(90deg, rgba(46,135,114,1) 0%, rgba(232,145,61,1) 100%);
    padding: 6px 36px;
    display: block;
    max-width: 240px;
    margin: 40px auto 38px;

    svg {
        display: block;
        margin: 0 auto;
        width: 163px;
    }
}

.motto-n-hashtag {
    border: 12px solid black;
    width: 100%;
    height: 220px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
        font-size: 32px;
        font-weight: 800;
    }

    h5 {
        font-size: 16px;
        font-weight: 800;
    }
}

.main__product__box__product-specs {
    display: grid;
    grid-template-columns: 112px 90px 74px;
    grid-template-rows: 66px 30px;
    border: 4px solid #000;
    width: 286px;
    margin: 0 auto;
}


.main__product__box__product-specs__1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
    line-height: 21px;
    word-spacing: 300px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
    margin: 0;
}

.main__product__box__product-specs__2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 45px;
        font-weight: 800;
        margin: 0;
    }

    p {
        font-size: 7px;
        text-transform: uppercase;
        font-weight: 800;
    }
}

.main__product__box__product-specs__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-right: 2px solid black;

    p {
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 0 0 10px;
    }
}

.main__product__box__product-specs__4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50px;
        height: 26px;
        display: block;
    }
}

.main__product__box__product-specs__5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 23px;
        height: 19px;
    }
}

.main__product__box__product-specs__name__heading {
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 100px;
    line-height: 18px;
}

.main__product__box__product-specs__name__p,
.main__product__box__product-specs__props__p {
    font-size: 14px;
    margin: 0;
    line-height: 14px;
}

.main__product__box__product-specs__name__p {
    font-weight: 700;
}

.main__product__box__product-specs__name {
    border-right: 1px solid #000;
}

.main__product__box__product-specs__props {
    padding-left: 12px;
}

.main__product__box__product-specs__props__heading {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
}

.main__product__box__product-specs__props__p {
    font-weight: 600;
    font-style: italic;
}

.main__product__link,
.main__product__link:visited,
.main__product__link:focus {
    padding: 6px 30px;
    border: 4px solid #000;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all .12s;
}

.main__product__link:hover {
    transform: translateX(-50%) scale(1.04);
}

// gradients
.main__product__box--mango-kush,
.main__product__box__product-body__heading--mango-kush,
.main__product__box__product-body__logo--mango-kush,
.main__product__box__product-body__main-props--mango-kush {
    background: $mango-kush;
}

.main__product__box--strawberry-diesel,
.main__product__box__product-body__heading--strawberry-diesel,
.main__product__box__product-body__logo--strawberry-diesel,
.main__product__box__product-body__main-props--strawberry-diesel {
    background: $strawberry-diesel;
}

.main__product__box--watermelon-cookie,
.main__product__box__product-body__heading--watermelon-cookie,
.main__product__box__product-body__logo--watermelon-cookie,
.main__product__box__product-body__main-props--watermelon-cookie {
    background: $watermelon-cookie;
}

.main__product__box--hawaiian-skunk,
.main__product__box__product-body__heading--hawaiian-skunk,
.main__product__box__product-body__logo--hawaiian-skunk,
.main__product__box__product-body__main-props--hawaiian-skunk {
    background: $hawaiian-skunk;
}

.main__product__box--og-kush,
.main__product__box__product-body__heading--og-kush,
.main__product__box__product-body__logo--og-kush,
.main__product__box__product-body__main-props--og-kush {
    background: $og-kush;
}

.main__product__box--black-domina,
.main__product__box__product-body__heading--black-domina,
.main__product__box__product-body__logo--black-domina,
.main__product__box__product-body__main-props--black-domina {
    background: $black-domina;
}

.main__product__box__product-body__heading--mango-kush,
.main__product__box__product-body__heading--strawberry-diesel,
.main__product__box__product-body__heading--watermelon-cookie,
.main__product__box__product-body__heading--hawaiian-skunk,
.main__product__box__product-body__heading--og-kush,
.main__product__box__product-body__heading--black-domina {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (min-width: 480px) and (max-width:767px) {
    .main__product {
        width: 420px;
    }

    .main__product__box {
        height: 420px;
        padding: 12px;
    }

    .main__product__box__product-body__leaf {
        width: 30px;
        height: 30px;
        margin-top: 14px;
        margin-bottom: 6px;
    }

    .main__product__box__product-body__heading {
        font-size: 16px;
        margin: 22px 0;
    }

    .main__product__box__product-specs__props {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__product__box__product-specs__name__heading {
        font-size: 29px;
        word-spacing: 200px;
        line-height: 24px;
    }

    .main__product__box__product-specs__name__p,
    .main__product__box__product-specs__props__p {
        font-size: 16px;
        line-height: 18px;
    }

    .main__product__box__product-specs__props__heading {
        font-size: 17px;
    }

    .main__product__box__product-body__logo {
        font-size: 29px;
        padding: 6px 24px;
        bottom: 48px;
    }

    .main__product__link,
    .main__product__link:visited,
    .main__product__link:focus {
        font-size: 20px;
        padding: 6px 50px;
        margin-top: 60px;
    }
}

@media (min-width: 768px) {
    .main {
        margin-left: auto;
        margin-right: auto;
        width: 660px;
    }

    .main__product {
        width: 310px;
        margin: 0 0 30px 0;
    }

    .main__product__box {
        height: 420px;
        padding: 12px;
    }

    .main__product__box__product-body__leaf {
        width: 26px;
        height: 26px;
        margin-top: 12px;
        margin-bottom: 4px;
    }

    .main__product__box__product-body::before,
    .main__product__box__product-body::after {
        width: 12px;
        height: 12px;
        top: 40px;
    }

    .main__product__box__product-body::before {
        left: -12px;
    }

    .main__product__box__product-body::after {
        right: -12px;
    }

    .main__product__box__product-body__heading {
        font-size: 14px;
        margin: 16px 0;
    }

    .main__product__link,
    .main__product__link:visited,
    .main__product__link:focus {
        padding: 6px 36px;
        margin-top: 38px;
    }
}

@media (min-width: 1160px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 1160px;
    }

    .main__product {
        width: 360px;
        margin: 0;
        transform: scale(.9);
    }

    .main__product__box {
        height: 420px;
    }

    .main__product__box__product-specs__props {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__product__box__product-specs__name__heading {
        font-size: 25px;
        line-height: 26px;
        word-spacing: 300px;
    }

    .main__product__box__product-specs__props__heading {
        font-size: 18px;
    }

    .main__product__box__product-specs__props__p {
        line-height: 16px;
    }

    .main__product__link:hover {
        text-decoration: none;
        color: inherit;
    }
}

@media (max-width: 479px) {
    .main--product-template__product {
        transform: scale(.8);
    }

    .main__product__box__product-body__main-props,
    .main__product__box__product-specs {
        width: auto;
    }

    .main__product__box__product-specs {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main__product__box__product-body__logo {
        transform: scale(.6);
        margin: 4px auto 0;
    }

    .main__product__box__product-body {
        padding: 20px 20px 0;
        height: 210px;
    }
}

.main__product-link, .main__product-link:hover {
    color: #000;
    text-decoration: none;
    transition: all .2s;
}

.main__product-link:hover {
    box-shadow: 0 0 8px 0px rgba($color: #000000, $alpha: .3);
}

.price-tags {
    height: 31px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    p {
        margin: 0 12px 0 0;
        font-size: 12px;
        font-weight: 700;
    }

    h4 {
        font-size: 16px;
        font-weight: 800;
        margin: 0 14px;
        padding: 6px 6px 6px 24px;
        background-image: url('../img/price-tag.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }
}

.product__category {
    margin-top: 60px;

    img {
        width: 90px;
        height: 24px;
    }

    p {
        font-weight: 800;
        font-size: 25px;
        text-transform: uppercase;
    }
}

.main__product__strenght {
    width: 15px;
    height: 22px;
    display: block;
    margin: 0 auto;
}

.main__product__strenght--text {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-top: 4px;
}

.main__product__strenght--pr {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.main__product__product-image {
    max-width: 134px;
    display: block;
    margin: 0 auto;
}