.prod-header {
    width: 100%;
}

.prod-header__nav {
    display: block;
    width: 100%;
    background: rgba($color: #fff, $alpha: 1);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

.prod-header__nav::before {
    content: '';
    position: absolute;
    display: block;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 12;
    background: white;
}

.prod-header__nav__box {
    position: relative;
}

.prod-header__nav__box__radio-input {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 15;
    opacity: 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.prod-header__nav__box__img {
    transition: all .3s ease-out;
    z-index: 15;
    position: relative;
    pointer-events: none;
    width: 60px;
    height: 60px;
    background: white;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 100%;
}

.prod-header__nav__box__ul {
    display: block;
    position: absolute;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 180px;
    padding-top: 24px;
    padding-bottom: 20px;
    background: rgba($color: #fff, $alpha: .95);
    top: -200px;
    transition: all .3s ease-out;
    z-index: 10;

    .prod-header__nav__box__ul__li {
        text-align: center;
        margin-bottom: 24px;

        .prod-header__nav__box__ul__li__a {
            color: black;
            font-size: 20px;
        }

        .prod-header__nav__box__ul__li__a--active {
            color: #0F89F4;
        }
    }
}

.prod-header__nav__box__radio-input:checked ~ .prod-header__nav__box__img {
    transform: rotate(45deg);
}

.prod-header__nav__box__radio-input:checked ~ .prod-header__nav__box__ul {
    top: 64px;
}

.prod-header__logo-container {
    background-image: url('../img/canopee-logo--mobile.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 320px;
    height: 350px;
    margin: 80px auto;
}

.prod-header__nav__basket {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 20px;
    z-index: 30;
}

.prod-header__nav__basket__badge {
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    background: red;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    font-size: 11px;

    p {
        transform: translateX(6px) translateY(1px);
    }
}

@media (min-width: 480px) {
    .prod-header__logo-container {
        max-width: 420px;
        height: 400px;
        margin: 100px auto;
    }

    .prod-header__nav__box__radio-input:checked ~ .prod-header__nav__box__ul {
        top: 80px;
    }
}

@media (min-width: 768px) {
    .prod-header__logo-container {
        background-image: url('../img/canopee-logo-hemp.png');
        max-width: 580px;
        margin: 140px auto;
    }
}

@media (min-width: 1160px) {
    .prod-header__logo-container {
        max-width: 800px;
    }

    .prod-header__nav__box__radio-input {
        cursor: pointer;
    }
}

@media (min-width: 1900px) {
    .prod-header__logo-container {
        margin: 80px auto;
    }
}