.main--product-template {
    margin-top: 100px;
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main__logo-img {
    width: 90px;
}

.main__item-name {
    font-weight: 800;
    font-size: 33px;
    line-height: 32px;
    text-transform: uppercase;
    word-spacing: 300px;
}

.main__item-img {
    display: block;
    margin: 0 auto;
}

.main__item-props {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 18px;
}

.main__item-description {
    font-size: 21px;
    line-height: 29px;
    font-style: italic;
    margin-top: 6px;

    strong {
        font-style: normal;
    }

    span {
        color: #F7931E;
    }
}

.main__item-description__strong {
    font-size: 14px;
    line-height: 20px;
}

.main--product-template__product {
    margin-bottom: 30px;
}

.main__item-price {
    margin: 20px 0 16px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__form__item-select,
.main__form__item-quantity,
.main__form__item-add-to-basket {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    outline: none;
    border: 1px solid rgba($color: #333, $alpha: .16);
}

.main__form__item-select {
    width: 200px;
    height: 50px;
    background-color: #F3F3F3;
    font-weight: 600;
    padding: 0 6px 0 0;
}

.main__form__item-label {
    margin: 20px 0 8px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

.main__form__item-quantity {
    width: 90px;
    height: 40px;
    background-color: #FAFAFA;
    padding: 0 10px;
}

.main__form__item-add-to-basket {
    width: 140px;
    height: 45px;
    margin-top: 24px;
    background: none;
    border: 4px solid #000000;
    font-weight: 700;
    cursor: pointer;
    transition: all .12s;
    font-size: 22px;
}

.main__form__item-add-to-basket:hover {
    transform: scale(1.04);
}

@media (min-width: 320px) {
    .main--product-template {
        margin: 100px auto 0;
    }
}

@media (min-width: 480px) {
    .main--product-template {
        width: 420px;
    }
}

@media (min-width: 768px) {
    .main--product-template {
        width: 700px;
        margin-top: 140px;
    }

    .main--product-template__desc {
        width: 280px;
        margin-right: 40px;
        padding-top: 30px;
    }

    .main--product-template__product {
        width: 380px;
    }
}

@media (min-width: 1160px) {
    .main--product-template {
        width: 1020px;
        margin-top: 100px;
    }

    .d-lg-flex--custom {
        display: flex;
    }
}