.shop-article {
    color: #323e48;
}

.shop-article__heading,
.shop-article__p,
.shop-article__specs {
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.shop-article__heading {
    font-size: 36px;
}

.shop-article__p {
    font-size: 20px;
    margin: 22px 0;
    font-weight: 600;
}

.shop-article__specs {
    font-size: 24px;
}

.shop-article__image {
    display: block;
    margin: 0 auto;
    height: auto;
}

.shop-article__image--logo {
    width: 250px;
    margin-top: 50px;
}

.shop-article__image--certified {
    width: 220px;
    margin-top: 10px;
}

.shop-article__sections__section {
    width: 260px;
    display: block;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #323e48;
}

.shop-article__sections {
    margin: 60px 0 0 0;
}

.shop-article__sections__section:hover {
    background: #cd5d5d;
}

.shop-article__sections__section__heading {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    margin: 12px 0;
    text-align: center;
}

.shop-article__sections__section__text {
    font-size: 16px;
    text-align: center;
}

@media (min-width: 480px) {
    .shop-article__heading {
        font-size: 38px;
    }

    .shop-article__p {
        font-size: 25px;
        margin: 28px 0 22px;
    }

    .shop-article__sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .shop-article__sections__section {
        width: 230px;
    }
}

@media (min-width: 768px) {
    .shop-article {
        margin-top: 100px;
    }

    .shop-article__sections {
        grid-gap: 50px;
    }
}

@media (min-width: 1160px) {
    .shop-article {
        margin-top: 180px;
    }

    .shop-article__heading {
        font-size: 42px;
    }

    .shop-article__p {
        font-size: 34px;
        line-height: 50px;
        margin: 48px 0 28px;
    }

    .shop-article__specs {
        font-size: 27px;
    }

    .shop-article__image--logo {
        margin-top: 60px;
    }

    .shop-article__sections {
        margin-top: 80px;
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: 1fr;
        grid-gap: 20px;
        max-width: 980px;
    }
}

@media (min-width: 1900px) {
    .shop-article__sections {
        grid-gap: 60px;
        max-width: 1100px;
    }

    .shop-article__sections__section__heading {
        font-size: 30px;
        font-style: initial;
    }

    .shop-article__sections__section__text {
        font-size: 16px;
        line-height: 20px;
    }
}