.shop-header {
    box-shadow: inset 0px -12px 6px 0px rgba(0,0,0,0.22);
}

.shop-header {
    width: 100%;
}

.shop-header__nav {
    display: block;
    width: 100%;
    background: rgba($color: #fff, $alpha: 1);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

.shop-header__nav::before {
    content: '';
    position: absolute;
    display: block;
    top: -40px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 12;
    background: white;
}

.shop-header__nav__box {
    position: relative;
}

.shop-header__nav__box__radio-input {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 15;
    opacity: 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.shop-header__nav__box__img {
    transition: all .3s ease-out;
    z-index: 15;
    position: relative;
    pointer-events: none;
    width: 60px;
    height: 60px;
    background: white;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 100%;
}

.shop-header__nav__box__ul {
    display: block;
    position: absolute;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 180px;
    padding-top: 24px;
    padding-bottom: 20px;
    background: rgba($color: #fff, $alpha: .95);
    top: -200px;
    transition: all .3s ease-out;
    z-index: 10;

    .shop-header__nav__box__ul__li {
        text-align: center;
        margin-bottom: 24px;

        .shop-header__nav__box__ul__li__a {
            color: black;
            font-size: 20px;
        }

        .shop-header__nav__box__ul__li__a--active {
            color: #0F89F4;
        }
    }
}

.shop-header__nav__box__radio-input:checked ~ .shop-header__nav__box__img {
    transform: rotate(45deg);
}

.shop-header__nav__box__radio-input:checked ~ .shop-header__nav__box__ul {
    top: 64px;
}

.shop-header__logo-container {
    width: 100%;
    max-width: 320px;
    height: 180px;
    margin: 80px auto;

    img {
        width: inherit;
    }

    p {
        font-size: 30px;
        text-align: center;
        margin-top: 30px;

        span {
            font-weight: 600;
            font-style: italic;
        }
    }
}

.shop-header__nav__basket {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 20px;
    z-index: 30;
}

.shop-header__nav__basket__badge {
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    background: red;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    font-size: 11px;

    p {
        transform: translateX(6px) translateY(1px);
    }
}

@media (min-width: 480px) {
    .shop-header__logo-container {
        max-width: 420px;
        height: 200px;
    }

    .shop-header__nav__box__radio-input:checked ~ .shop-header__nav__box__ul {
        top: 80px;
    }
}

@media (min-width: 768px) {
    .shop-header__logo-container {
        max-width: 580px;
    }
}

@media (min-width: 1160px) {
    .shop-header__logo-container {
        max-width: 800px;
    }

    .shop-header__nav__box__radio-input {
        cursor: pointer;
    }
}

.shop-slick-slider {
    position: relative;

    .shop-slick-prev, .shop-slick-next {
        position: absolute;
        top: 50%;
        background: transparent;
        background-image: url("../img/arrow-icon.svg");
        width: 20px;
        height: 27px;
        border: none;
        outline: 0;
        z-index: 2;
        cursor: pointer;
    }

    .shop-slick-prev {
        transform: rotate(180deg) translateY(50%);
        left: 8px;
    }

    .shop-slick-next {
        transform: translateY(-50%);
        right: 8px;
    }
}

@media (min-width: 768px) {
    .shop-slick-slider {
        .shop-slick-prev {
            left: 16px;
        }

        .shop-slick-next {
            right: 16px;
        }
    }
}

@media (min-width: 1200px) {
    .shop-header__useful-links {
        position: absolute;
        top: 20px;
        right: calc((100vw - 1080px) / 2);
        z-index: 10;

        ul {
            display: flex;
            list-style-type: none;

            li {
                margin-right: 20px;

                a {
                    font-size: 17px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: #323E48;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }
}