.we-suggest {
    hr {
        position: absolute;
        width: 100%;
        background-color: rgba($color: #39494C, $alpha: .3);
        left: 0;
    }

    span {
        position: absolute;
        width: 220px;
        height: 32px;
        background: white;
        border: 1px solid rgba($color: #39494C, $alpha: .3);
        text-align: center;
        font-weight: 700;
        font-style: italic;
        font-size: 19px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.product-suggestion {
    margin-top: 110px;
    padding: 0 6px;
}

.product-suggestion__logo {
    width: 75px;
}

.product-suggestion__italic {
    font-size: 21px;
    font-weight: 800;
    font-style: italic;
    display: block;
    text-transform: uppercase;
    color: #39494C;
}

.product-suggestion__product {
    width: 100%;
    padding: 12px 6px;
}

.product-suggestion__product__img {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

.product-suggestion__product__info {
    margin-top: 30px;
}

.product-suggestion__product__info__logo {
    width: 58px;
}

.product-suggestion__product__info__heading {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 25px;

    small {
        font-size: 13px;
        font-weight: 600;
        transform: translateY(-4px);
        display: block;
    }
}

.product-suggestion__product__info__text {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.product-suggestion__product__info__price {
    font-size: 29px;
    font-weight: 600;
}

.product-suggestion__product__info__actions__buy,
.product-suggestion__product__info__actions__add-to-cart {
    background: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    padding: 4px 32px;
    cursor: pointer;
    transition: all .2s;
}

.product-suggestion__product__info__actions__buy:hover,
.product-suggestion__product__info__actions__add-to-cart:hover {
    background: rgba($color: #000000, $alpha: .04);
}

.product-suggestion__product__info__actions__buy {
    border: 1px solid #323E48;
    margin-right: 4px;
}

.product-suggestion__product__info__actions__add-to-cart {
    border: 3px solid #323E48;
}

.product-suggestion__product__info__shipping {
    color: #007350;
    font-size: 11px;
    font-weight: 600;
}

.slick-slider {
    position: relative;

    .slick-prev, .slick-next {
        position: absolute;
        top: 48%;
        background: transparent;
        background-image: url("../img/arrow-icon.svg");
        width: 20px;
        height: 27px;
        border: none;
        outline: 0;
        z-index: 2;
        cursor: pointer;
    }

    .slick-prev {
        transform: rotate(180deg) translateY(50%);
        left: 8px;
    }

    .slick-next {
        transform: translateY(-50%);
        right: 8px;
    }
}

@media (min-width: 992px) {
    .product-suggestion__product {
        display: flex;
        padding: 0 100px;
        margin-top: 60px;
    }

    .product-suggestion__product__img {
        width: 100%;
        max-width: initial;
        height: auto;
    }

    .product-suggestion__product__info {
        margin-left: 80px;
        max-width: 280px;
    }

    .slick-slider {
        .slick-prev, .slick-next {
            top: 50%;
        }

        .slick-prev {
            left: 16px;
        }

        .slick-next {
            right: 16px;
        }
    }

    .product-suggestion__product__info__actions__buy,
    .product-suggestion__product__info__actions__add-to-cart {
        padding: 4px 34px;
    }

    .product-suggestion__product__info__actions__buy {
        margin-right: 12px;
    }

}